* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  line-height: 2;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 100vh;

  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  position: relative;
  overflow: hidden;
}
nav {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
}
/* .menu a::before {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  width: 0;
  height: 2px;
  border-bottom: 2px solid #5dade2;
  transition: all 0.5s linear;
}
.menu a:hover::before {
  width: 100%;
} */

.logo a {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
}
.menu ul li {
  list-style: none;
  display: inline-block;
  padding: 0 15px;
}
.menu ul li:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: 1px solid #8e44ad;
  border-radius: 10%;
}
.menu ul li a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  font-size: 1.2rem;
  background-color: transparent;
}
.menu li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 2px;
  background-color: black;
  transition: all 1s linear;
}
.menu ul li:hover::before {
  width: 100%;
  background-color: #0093e9;
}

.contect a,
.contect2 a {
  background-color: #d465ef;
  padding: 12px 26px;
  font-style: 14px;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 10px;
}
.contect a {
  text-decoration: none;
  list-style: none;
  text-transform: capitalize;
}
.contect :hover {
  background-image: linear-gradient(to bottom, #615cfd 0%, #d465ef 100%);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  color: white;
}
.contect2 a {
  text-decoration: none;
  list-style: none;
  text-transform: capitalize;
}
.contect2 :hover {
  background-image: linear-gradient(to bottom, #d465ef 0%, #615cfd 100%);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  color: white;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center h1 {
  color: white;
  font-size: 47px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 10px;
  z-index: 1;
}
.center h2 {
  font-size: 25px;
  font-weight: 400;
  color: white;
  z-index: 1;
  margin-left: 150;
  text-transform: capitalize;
}
.center h2::before {
  content: "";
  width: 90px;
  height: auto;
  border: 2px solid white;
  position: absolute;
  left: 40px;
  bottom: 0;
  margin-bottom: 12px;
}
header::before {
  content: "";
  width: 490px;
  height: 550px;
  margin-bottom: 10;

  position: absolute;
  left: -100;
  bottom: 0;
  top: 130;
  background-image: url(DP_image.png);
  background-size: 100% 101%;
  opacity: 0.5;
  z-index: 0;
}
.social_network {
  width: 100px;
  height: auto;
  position: absolute;
  right: 0;
  top: 40%;
}
.icons {
  width: 40px;
  height: 40px;
  border-right: 50%;
  background-image: linear-gradient(to bottom, #d465ef 0%, #615cfd 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.icons:nth-child(even) {
  margin: 20px 0;
}
.icons:hover {
  background: linear-gradient(to bottom, #615cfd 0%, #d465ef 100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.imageslider {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    109.6deg,
    rgba(48, 207, 208, 1) 11.2%,
    rgba(51, 8, 103, 1) 92.5%
  );
}
.imageslider h1 {
  text-align: center !important;
  vertical-align: center !important;
  margin-top: 30px;
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 50px;

  /* top: -1000px; */
}
#slider {
  height: 80%;
  width: 80%;
  justify-content: center;
  background-size: 100% 100%;
  position: relative;
  top: 5%;
  left: 10%;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  animation: changeimage 20s linear infinite;
}

@keyframes changeimage {
  0% {
    background-image: url(imgslider1.jpg);
  }
  10% {
    background-image: url(imgslider2.jpg);
  }
  20% {
    background-image: url(imgslider3.jpg);
  }
  30% {
    background-image: url(imgslider4.jpg);
  }
  40% {
    background-image: url(imgslider5.jpg);
  }
  50% {
    background-image: url(imgslider6.jpg);
  }
  60% {
    background-image: url(imgslider7.jpg);
  }
  70% {
    background-image: url(imgslider8.jpg);
  }
  80% {
    background-image: url(imgslider9.jpg);
  }
  90% {
    background-image: url(imgslider5.jpg);
  }
  100% {
    background-image: url(imgslider1.jpg);
  }
}
.container {
  width: 100%;
  height: 100vh;
  font-family: "Lobster", cursive !important;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
.container h2 {
  padding-top: 4%;
  text-align: center !important;
  color: White;
  box-sizing: inherit;
  font-size: 40px;
}
.container p {
  color: white;
  text-align: center;
  padding: 1%;
  font-size: 2 0px;
  box-sizing: inherit;
}
.row {
  display: block;
  text-align: center !important;
  line-height: 1.5;
  padding-left: 100px;
}
.employee {
  width: 23%;
  float: left;
  padding-top: 5%;
  display: block;
  border-radius: 50%;
}
.employee p {
  font-size: 18px;
  color: black;
}
.employee img {
  border-radius: 50%;

  vertical-align: center;
  border-style: outset;
  border-color: #0093e9;
}
.employee img:hover {
  opacity: 0.5;
}
.work {
  width: 100%;
  height: 100%;
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
  display: block;
  justify-content: space-around;
  box-sizing: inherit;
  float: left;
}
.our_work {
  box-sizing: inherit;
  display: block;
  margin: 0px 0px 0px 30px;
  font-size: 20px;
  max-width: 24%;
  line-height: 1.5;
}
.our_work h2 {
  padding: 10 10 10 50;
  font-size: 30px;
}
.card {
  width: 24%;
  float: left;
  box-sizing: inherit;
  display: block;
  justify-content: space-around;
  padding: 100px 10px 10px 10px;
}
.card img {
  max-height: 100%;
  max-width: 100%;
}
.customer_text {
  background-color: white;
  text-align: center;
  font-size: 25px;
  line-height: 3;
}
.plus {
  font-size: 25;
  position: relative;
  color: white !important;
  font-weight: 100 !important;
  background-color: #2c3e50;
  border-radius: 50%;
  padding: 10;
  border: none;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  box-sizing: inherit;
  top: 540px;
  right: 29px;
}
.plus:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: #bdc3c7;
  color: black !important;
}
.prising {
  height: 100%;
  width: 100%;
  display: block;
  justify-content: space-around;
  box-sizing: inherit;
  float: left;

  font-size: 20px;
  background-image: linear-gradient(
    109.6deg,
    rgba(15, 2, 2, 1) 11.2%,
    rgba(36, 163, 190, 1) 91.1%
  );
}
.prising h1 {
  color: white;
  text-align: center;
}
.prising h6 {
  color: white;
  text-align: center;
  font-size: 20;
  font-weight: 10;
}
.prising p {
  color: white;
  font-weight: 1000;
}
.prising .bottom1,
.bottom2,
.bottom3 {
  width: 30%;
  display: block;
  justify-content: space-around !important;
  float: left;
  border: 2px solid #95a5a6;
  margin: 10px 20px 0px 20px;
  height: 473px;
  text-decoration: none;
  list-style-type: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.mainbox {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: linear-gradient(
    109.6deg,
    rgba(5, 84, 94, 1) 16%,
    #bbb 91.1%
  );
}
.box {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  padding: 50px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}
.box:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.box h1 {
  margin-bottom: 30px;
  color: white;
  text-align: center;
  text-transform: capitalize;
}
.box .inputbox {
  position: relative;
}
.box .inputbox input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: white;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
}
.inputbox label {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 1px;
  padding: 10px 0;
  font-size: 16px;
  color: white !important;
  transition: 0.5s;
}
.box input[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  background-color: #03a9f4;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 14px;
}
.box .inputbox input:hover ~ label,
.box .inputbox input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03a9f4 !important;
  font-size: 12px;
}
.box input[type="submit"]:hover {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.maincontect {
  color: #ecf0f1;
  padding: 200px 0px 0px 10px;
  line-height: 5px;
  letter-spacing: 2;

  font-size: 25px;
}
.basic li {
  padding: 3px;
  border-bottom: 1px solid #95a5a6;
}
.basic1 {
  background-image: linear-gradient(
    112.1deg,
    rgba(32, 38, 57, 1) 11.4%,
    rgba(63, 76, 119, 1) 70.2%
  );
  font-size: 30px;
}
.basic {
  text-align: center;
}
.basic li {
  color: black;
  background-image: radial-gradient(
    circle farthest-corner at 1.3% 2.8%,
    rgba(239, 249, 249, 1) 0%,
    rgba(182, 199, 226, 1) 100.2%
  );
  font-size: x-large;
}
#basicpro {
  background-image: linear-gradient(
    63.1deg,
    rgba(5, 23, 111, 1) 16.4%,
    rgba(24, 95, 240, 1) 64.5%
  );
}
.prising .bottom1:hover,
.bottom2:hover,
.bottom3:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.employee:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.blank1 {
  height: 100%;
}
.blank2 {
  height: 100%;
}
.mainfollow {
  height: 50%;
  background-image: radial-gradient(
    circle farthest-corner at -8.9% 51.2%,
    rgba(255, 124, 0, 1) 0%,
    rgba(255, 124, 0, 1) 15.9%,
    rgba(255, 163, 77, 1) 15.9%,
    rgba(255, 163, 77, 1) 24.4%,
    rgba(19, 30, 37, 1) 24.5%,
    rgba(19, 30, 37, 1) 66%
  );
}
.follow {
  padding-top: 50px;
  text-align: center;
  justify-content: space-around;
  /* position: relative; */
}
.follow h1 {
  font-size: 50px;
  color: #ecf0f1;
}
.follow h6 {
  color: #ecf0f1;
  font-size: 20px;
  padding-top: 10px;
}
.follow i {
  font-size: 40px;
  letter-spacing: 10;
  margin-top: 10;
  cursor: pointer;
}
#f {
  color: #4267b2;
}
#t {
  color: #00acee;
}
#g {
  color: #4285f4;
}
#i {
  color: #bc2a8d;
}
#l {
  color: #0e76a8;
}
#f:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-size: 45px;
}
#t:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-size: 45px;
}
#g:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-size: 45px;
}
#i:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-size: 45px;
}
#l:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-size: 45px;
}
.sign {
  height: 48px;
  width: 150px;
  margin-left: 120px;
  border: 2px solid white;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 15%,
    rgba(9, 9, 121, 1) 70%,
    rgba(0, 0, 0, 1) 100%
  );
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.sign i {
  color: white;
  padding: 10px 16.5px;
}
.sign i:hover {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  color: black;
}
#top {
  float: right;
  font-size: 40px;
  margin: -85px 42px;
  color: #ffa34d;
  border-radius: 50%;
  animation: ap 1s linear infinite;
  animation-direction: alternate;
  cursor: pointer;
}
#top:hover {
  color: #ff6600;
}
@keyframes ap {
  from {
    padding-top: 50px;
  }
  to {
    padding-bottom: 50px;
  }
}
.search-box {
  float: right;
  margin-right: 2px;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  display: flex;
}
a,
a:hover {
  text-decoration: none;
}
.search-box {
  position: relative;
}
.searchtype {
  width: 0px;
  /* padding: 10px; */
  border-radius: 5rem;
  border: none;
  outline: none;
  transition: all 0.5s linear;
}
.searchtype:focus {
  outline: none;
}
.searchbtn {
  width: 35px;
  height: 35px;
  background-color: #192a56;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 40px;
}
.btn {
  font-size: 25px;
  color: white;
}
.search-box:hover > .searchtype {
  width: 200px;
  padding: 10px;
}
.search-box:hover > .searchbtn {
  background-color: white;
  color: #192a56;
}
.search-box:hover > .btn {
  color: #192a56;
}
.search-box:hover .fa-search::before {
  color: #192a56;
}
